
<div id="contact-hoan">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="tel:+84 915 881011">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img src="../images/call.png" alt="Call Hoan" height="42px" width="42px"/>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <div class="white-text">
              <strong>Call</strong>
              <br>
              +84 915 881011
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="mailto:ngochoan1011@gmail.com?Subject=Hello%20Hoan" target="_blank">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img src="../images/contact.png" alt="Call Hoan" height="42px" width="42px"/>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <div class="white-text">
              <strong>Contact</strong>
              <br>ngochoan1011@gmail.com
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="../images/follow.png" alt="Call Hoan" height="42px" width="42px"/>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <strong>Follow me</strong>
          <br>
          <a href="http://www.facebook.com/dongochoan" target="_blank">
            <img src="../images/fb.png" alt="Facebook Do Ngoc Hoan" />
          </a>
          &nbsp;
          <a href="https://instagram.com/ngochoan1011/" target="_blank">
            <img src="../images/instargram.png" alt="INSTAGRAM Do Ngoc Hoan" />
          </a>
          &nbsp;
          <a href="http://ngochoan1011.tumblr.com" target="_blank">
            <img src="../images/tumblr.png" alt="tumblr Do Ngoc Hoan" />
          </a>
          &nbsp;
          <a href="https://twitter.com/ngochoan1011" target="_blank">
            <img src="../images/twitter.png" alt="Twitter Do Ngoc Hoan" />
          </a>
        </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <img src="../images/copyright.png" alt="Call Hoan" height="42px" width="42px"/>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <strong>Copyright 2020</strong>
            <br>© Đỗ Ngọc Hoan
            <br>Version 2.0.1
          </div>
        </div>
      </div>
    </div>
  </div>
  